.mainchat{
    display: flex;
    flex-direction:column;
    flex:0.65;
    
}
.chat-header{
    display:flex;
    justify-content:space-between;
    margin:8px;
}
.chat-info>h2{
    font-size:16px;
    margin-bottom: 8px;
}
.chat-info>p{
    font-size:14px;
}
.chat-body{
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    padding: 30px;
    overflow:auto;
}
.chat-message{
    position: relative;
    font-size:16px;
    width:fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 30px;

    
}
.time{
    margin-left:10px;
    font-size: xx-small;
}
.name{
    position: absolute;
    top:-15px;
    font-weight: 700;
    font-size: xx-small;
}
.chat-receiver{
    margin-left: auto;
    background-color: #dcf8c6;
}
.chat-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    border-top:1px solid lightgray;
}
.chat-footer > form{
    flex: 1;
    display: flex;
   
}
.chat-footer > form > input{
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border:none;
    outline: none;

}
.chat-footer > form >button{
   display:none;
}
.chat-footer>.MuiSvgIcon-root{
    margin: 10px;
    color: gray;
}